In [1]:
import pandas as pd

In [2]:
harvard = pd.read_csv("Harvard.csv")
penn = pd.read_csv("Penn.csv")

In [3]:
harvard.columns

Index(['No.', 'Name', 'Yr.', 'Ht.', 'Hometown', 'High School', 'Pos.', 'year',
       'sport', '#', 'Full Name', 'Pos', 'Academic Year',
       'Hometown / High School', 'Wt.', 'Position', 'Event', 'C',
       'Personal Pronouns', 'Sport', 'Year'],
      dtype='object')

In [4]:
harvard = harvard.drop(['No.', '#', 'C', 'Personal Pronouns'], axis = 1)

In [5]:
harvard.columns

Index(['Name', 'Yr.', 'Ht.', 'Hometown', 'High School', 'Pos.', 'year',
       'sport', 'Full Name', 'Pos', 'Academic Year', 'Hometown / High School',
       'Wt.', 'Position', 'Event', 'Sport', 'Year'],
      dtype='object')

In [6]:
harvard

,Name,Yr.,Ht.,Hometown,High School,Pos.,year,sport,Full Name,Pos,Academic Year,Hometown / High School,Wt.,Position,Event,Sport,Year
0,Kennedy Heath,Sr.,5-9,"Cary, N.C.",Panther Creek,Guard,2023.0,womens-basketball,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Mona Zarić,Jr.,6-2,"Novi Sad, Serbia",Kykkos B'Lyceum,Forward,2023.0,womens-basketball,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Gabby Anderson,So.,5-11,"Columbus, Ohio",IMG Academy,Guard,2023.0,womens-basketball,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Elena Rodriguez,Jr.,6-2,"Aguimes, Spain",IES Joaquin Artiles,Guard,2023.0,womens-basketball,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Karlee White,Fy,5-9,"Burbank, Calif.",Oak Park High School,Guard,2023.0,womens-basketball,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4119,Cara Salsberry,Jr.,NaN,"Boynton Beach, Fla.",Somerset Academy Canyons,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Throws,track-and-field,2023.0
4120,Meaghan Toscano,Sr.,NaN,"Lower Gwynedd, Pa.",Germantown Academy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Throws,track-and-field,2023.0
4121,Fieke Van der Kamp,Fy,NaN,"Victoria, Australia",Nillumbuk High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Distance,track-and-field,2023.0
4122,Abby Weber,Fy,NaN,"Chapel Hill, N.C.",Chapel Hill High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Distance,track-and-field,2023.0
4123,Milina Wepiwé,Fy,NaN,"Friedrichsdorf, Germany",Kaiserin-Friedrich Gymnasium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Throws,track-and-field,2023.0

In [7]:
harvard = harvard.fillna(" ")
harvard['year'] = harvard['year'].astype(str)
harvard['Year'] = harvard['Year'].astype(str)
harvard['Name'] = harvard['Name'] + harvard['Full Name']
harvard = harvard.drop('Full Name', axis = 1)
harvard['Academic Year'] = harvard['Yr.'] + harvard['Academic Year']
harvard = harvard.drop('Yr.', axis = 1)
harvard['Pos.'] = harvard['Pos.'] + harvard['Position'] + harvard['Pos'] + harvard['Event']
harvard = harvard.drop(['Position', 'Pos', 'Event'], axis = 1)
harvard['year'] = harvard['year'] + harvard['Year']
harvard = harvard.drop('Year', axis = 1)
harvard['sport'] = harvard['sport'] + harvard['Sport']
harvard = harvard.drop('Sport', axis = 1)

In [8]:
harvard

,Name,Ht.,Hometown,High School,Pos.,year,sport,Academic Year,Hometown / High School,Wt.
0,Kennedy Heath,5-9,"Cary, N.C.",Panther Creek,Guard,2023.0,womens-basketball,Sr.,,
1,Mona Zarić,6-2,"Novi Sad, Serbia",Kykkos B'Lyceum,Forward,2023.0,womens-basketball,Jr.,,
2,Gabby Anderson,5-11,"Columbus, Ohio",IMG Academy,Guard,2023.0,womens-basketball,So.,,
3,Elena Rodriguez,6-2,"Aguimes, Spain",IES Joaquin Artiles,Guard,2023.0,womens-basketball,Jr.,,
4,Karlee White,5-9,"Burbank, Calif.",Oak Park High School,Guard,2023.0,womens-basketball,Fy,,
...,...,...,...,...,...,...,...,...,...,...
4119,Cara Salsberry,,"Boynton Beach, Fla.",Somerset Academy Canyons,Throws,2023.0,track-and-field,Jr.,,
4120,Meaghan Toscano,,"Lower Gwynedd, Pa.",Germantown Academy,Throws,2023.0,track-and-field,Sr.,,
4121,Fieke Van der Kamp,,"Victoria, Australia",Nillumbuk High School,Distance,2023.0,track-and-field,Fy,,
4122,Abby Weber,,"Chapel Hill, N.C.",Chapel Hill High School,Distance,2023.0,track-and-field,Fy,,
4123,Milina Wepiwé,,"Friedrichsdorf, Germany",Kaiserin-Friedrich Gymnasium,Throws,2023.0,track-and-field,Fy,,

In [9]:
import numpy as np
harvard["Hometown / High School"] = harvard["Hometown / High School"].replace(r'^\s*$', np.nan, regex=True)

In [10]:
harvard

,Name,Ht.,Hometown,High School,Pos.,year,sport,Academic Year,Hometown / High School,Wt.
0,Kennedy Heath,5-9,"Cary, N.C.",Panther Creek,Guard,2023.0,womens-basketball,Sr.,NaN,
1,Mona Zarić,6-2,"Novi Sad, Serbia",Kykkos B'Lyceum,Forward,2023.0,womens-basketball,Jr.,NaN,
2,Gabby Anderson,5-11,"Columbus, Ohio",IMG Academy,Guard,2023.0,womens-basketball,So.,NaN,
3,Elena Rodriguez,6-2,"Aguimes, Spain",IES Joaquin Artiles,Guard,2023.0,womens-basketball,Jr.,NaN,
4,Karlee White,5-9,"Burbank, Calif.",Oak Park High School,Guard,2023.0,womens-basketball,Fy,NaN,
...,...,...,...,...,...,...,...,...,...,...
4119,Cara Salsberry,,"Boynton Beach, Fla.",Somerset Academy Canyons,Throws,2023.0,track-and-field,Jr.,NaN,
4120,Meaghan Toscano,,"Lower Gwynedd, Pa.",Germantown Academy,Throws,2023.0,track-and-field,Sr.,NaN,
4121,Fieke Van der Kamp,,"Victoria, Australia",Nillumbuk High School,Distance,2023.0,track-and-field,Fy,NaN,
4122,Abby Weber,,"Chapel Hill, N.C.",Chapel Hill High School,Distance,2023.0,track-and-field,Fy,NaN,
4123,Milina Wepiwé,,"Friedrichsdorf, Germany",Kaiserin-Friedrich Gymnasium,Throws,2023.0,track-and-field,Fy,NaN,

In [11]:
harvard["Hometown / High School"].fillna("Unknown / Unknown", inplace = True)
harvard[['hmtwn', 'hs', 'bs']] = harvard['Hometown / High School'].str.split('/', expand = True)
# harvard['hmtwn'] = harvard['Hometown / High School'].str.split('/')
# havard['hs'] = harvard['Hometown / High School'].str.split('/')
harvard = harvard.drop(['Hometown / High School', 'bs'], axis = 1)
harvard['hmtwn'] = harvard['hmtwn'].replace('Unknown ', ' ')
harvard['hs'] = harvard['hs'].replace(' Unknown', ' ')

In [12]:
harvard

,Name,Ht.,Hometown,High School,Pos.,year,sport,Academic Year,Wt.,hmtwn,hs
0,Kennedy Heath,5-9,"Cary, N.C.",Panther Creek,Guard,2023.0,womens-basketball,Sr.,,,
1,Mona Zarić,6-2,"Novi Sad, Serbia",Kykkos B'Lyceum,Forward,2023.0,womens-basketball,Jr.,,,
2,Gabby Anderson,5-11,"Columbus, Ohio",IMG Academy,Guard,2023.0,womens-basketball,So.,,,
3,Elena Rodriguez,6-2,"Aguimes, Spain",IES Joaquin Artiles,Guard,2023.0,womens-basketball,Jr.,,,
4,Karlee White,5-9,"Burbank, Calif.",Oak Park High School,Guard,2023.0,womens-basketball,Fy,,,
...,...,...,...,...,...,...,...,...,...,...,...
4119,Cara Salsberry,,"Boynton Beach, Fla.",Somerset Academy Canyons,Throws,2023.0,track-and-field,Jr.,,,
4120,Meaghan Toscano,,"Lower Gwynedd, Pa.",Germantown Academy,Throws,2023.0,track-and-field,Sr.,,,
4121,Fieke Van der Kamp,,"Victoria, Australia",Nillumbuk High School,Distance,2023.0,track-and-field,Fy,,,
4122,Abby Weber,,"Chapel Hill, N.C.",Chapel Hill High School,Distance,2023.0,track-and-field,Fy,,,
4123,Milina Wepiwé,,"Friedrichsdorf, Germany",Kaiserin-Friedrich Gymnasium,Throws,2023.0,track-and-field,Fy,,,

In [13]:
harvard["Hometown"] = harvard["Hometown"] + harvard["hmtwn"]
harvard = harvard.drop("hmtwn", axis = 1)
harvard["High School"] = harvard["High School"] + harvard["hs"]
harvard = harvard.drop("hs", axis = 1)
harvard

,Name,Ht.,Hometown,High School,Pos.,year,sport,Academic Year,Wt.
0,Kennedy Heath,5-9,"Cary, N.C.",Panther Creek,Guard,2023.0,womens-basketball,Sr.,
1,Mona Zarić,6-2,"Novi Sad, Serbia",Kykkos B'Lyceum,Forward,2023.0,womens-basketball,Jr.,
2,Gabby Anderson,5-11,"Columbus, Ohio",IMG Academy,Guard,2023.0,womens-basketball,So.,
3,Elena Rodriguez,6-2,"Aguimes, Spain",IES Joaquin Artiles,Guard,2023.0,womens-basketball,Jr.,
4,Karlee White,5-9,"Burbank, Calif.",Oak Park High School,Guard,2023.0,womens-basketball,Fy,
...,...,...,...,...,...,...,...,...,...
4119,Cara Salsberry,,"Boynton Beach, Fla.",Somerset Academy Canyons,Throws,2023.0,track-and-field,Jr.,
4120,Meaghan Toscano,,"Lower Gwynedd, Pa.",Germantown Academy,Throws,2023.0,track-and-field,Sr.,
4121,Fieke Van der Kamp,,"Victoria, Australia",Nillumbuk High School,Distance,2023.0,track-and-field,Fy,
4122,Abby Weber,,"Chapel Hill, N.C.",Chapel Hill High School,Distance,2023.0,track-and-field,Fy,
4123,Milina Wepiwé,,"Friedrichsdorf, Germany",Kaiserin-Friedrich Gymnasium,Throws,2023.0,track-and-field,Fy,

In [14]:
harvard["Wt."] = harvard["Wt."].replace(' ', pd.NA)
harvard["Ht."] = harvard["Ht."].replace(' ', pd.NA)
harvard

,Name,Ht.,Hometown,High School,Pos.,year,sport,Academic Year,Wt.
0,Kennedy Heath,5-9,"Cary, N.C.",Panther Creek,Guard,2023.0,womens-basketball,Sr.,NaN
1,Mona Zarić,6-2,"Novi Sad, Serbia",Kykkos B'Lyceum,Forward,2023.0,womens-basketball,Jr.,NaN
2,Gabby Anderson,5-11,"Columbus, Ohio",IMG Academy,Guard,2023.0,womens-basketball,So.,NaN
3,Elena Rodriguez,6-2,"Aguimes, Spain",IES Joaquin Artiles,Guard,2023.0,womens-basketball,Jr.,NaN
4,Karlee White,5-9,"Burbank, Calif.",Oak Park High School,Guard,2023.0,womens-basketball,Fy,NaN
...,...,...,...,...,...,...,...,...,...
4119,Cara Salsberry,NaN,"Boynton Beach, Fla.",Somerset Academy Canyons,Throws,2023.0,track-and-field,Jr.,NaN
4120,Meaghan Toscano,NaN,"Lower Gwynedd, Pa.",Germantown Academy,Throws,2023.0,track-and-field,Sr.,NaN
4121,Fieke Van der Kamp,NaN,"Victoria, Australia",Nillumbuk High School,Distance,2023.0,track-and-field,Fy,NaN
4122,Abby Weber,NaN,"Chapel Hill, N.C.",Chapel Hill High School,Distance,2023.0,track-and-field,Fy,NaN
4123,Milina Wepiwé,NaN,"Friedrichsdorf, Germany",Kaiserin-Friedrich Gymnasium,Throws,2023.0,track-and-field,Fy,NaN

In [15]:
harvard['college'] = "Harvard"
harvard

,Name,Ht.,Hometown,High School,Pos.,year,sport,Academic Year,Wt.,college
0,Kennedy Heath,5-9,"Cary, N.C.",Panther Creek,Guard,2023.0,womens-basketball,Sr.,NaN,Harvard
1,Mona Zarić,6-2,"Novi Sad, Serbia",Kykkos B'Lyceum,Forward,2023.0,womens-basketball,Jr.,NaN,Harvard
2,Gabby Anderson,5-11,"Columbus, Ohio",IMG Academy,Guard,2023.0,womens-basketball,So.,NaN,Harvard
3,Elena Rodriguez,6-2,"Aguimes, Spain",IES Joaquin Artiles,Guard,2023.0,womens-basketball,Jr.,NaN,Harvard
4,Karlee White,5-9,"Burbank, Calif.",Oak Park High School,Guard,2023.0,womens-basketball,Fy,NaN,Harvard
...,...,...,...,...,...,...,...,...,...,...
4119,Cara Salsberry,NaN,"Boynton Beach, Fla.",Somerset Academy Canyons,Throws,2023.0,track-and-field,Jr.,NaN,Harvard
4120,Meaghan Toscano,NaN,"Lower Gwynedd, Pa.",Germantown Academy,Throws,2023.0,track-and-field,Sr.,NaN,Harvard
4121,Fieke Van der Kamp,NaN,"Victoria, Australia",Nillumbuk High School,Distance,2023.0,track-and-field,Fy,NaN,Harvard
4122,Abby Weber,NaN,"Chapel Hill, N.C.",Chapel Hill High School,Distance,2023.0,track-and-field,Fy,NaN,Harvard
4123,Milina Wepiwé,NaN,"Friedrichsdorf, Germany",Kaiserin-Friedrich Gymnasium,Throws,2023.0,track-and-field,Fy,NaN,Harvard

In [16]:
harvard['year'] = harvard['year'].astype('float').astype(int)
harvard

,Name,Ht.,Hometown,High School,Pos.,year,sport,Academic Year,Wt.,college
0,Kennedy Heath,5-9,"Cary, N.C.",Panther Creek,Guard,2023,womens-basketball,Sr.,NaN,Harvard
1,Mona Zarić,6-2,"Novi Sad, Serbia",Kykkos B'Lyceum,Forward,2023,womens-basketball,Jr.,NaN,Harvard
2,Gabby Anderson,5-11,"Columbus, Ohio",IMG Academy,Guard,2023,womens-basketball,So.,NaN,Harvard
3,Elena Rodriguez,6-2,"Aguimes, Spain",IES Joaquin Artiles,Guard,2023,womens-basketball,Jr.,NaN,Harvard
4,Karlee White,5-9,"Burbank, Calif.",Oak Park High School,Guard,2023,womens-basketball,Fy,NaN,Harvard
...,...,...,...,...,...,...,...,...,...,...
4119,Cara Salsberry,NaN,"Boynton Beach, Fla.",Somerset Academy Canyons,Throws,2023,track-and-field,Jr.,NaN,Harvard
4120,Meaghan Toscano,NaN,"Lower Gwynedd, Pa.",Germantown Academy,Throws,2023,track-and-field,Sr.,NaN,Harvard
4121,Fieke Van der Kamp,NaN,"Victoria, Australia",Nillumbuk High School,Distance,2023,track-and-field,Fy,NaN,Harvard
4122,Abby Weber,NaN,"Chapel Hill, N.C.",Chapel Hill High School,Distance,2023,track-and-field,Fy,NaN,Harvard
4123,Milina Wepiwé,NaN,"Friedrichsdorf, Germany",Kaiserin-Friedrich Gymnasium,Throws,2023,track-and-field,Fy,NaN,Harvard

In [17]:
sport = harvard.pop('sport')
harvard.insert(1, 'Sport', sport)
college = harvard.pop('college')
harvard.insert(2, 'College', college)
position = harvard.pop('Pos.')
harvard.insert(3, 'Position', position)
height = harvard.pop('Ht.')
harvard.insert(4, 'Height', height)
weight = harvard.pop('Wt.')
harvard.insert(5, 'Weight', weight)
acayear = harvard.pop('Academic Year')
harvard.insert(6, 'Academic Year', acayear)
ht = harvard.pop('Hometown')
harvard.insert(7, 'Hometown', ht)
hs = harvard.pop('High School')
harvard.insert(8, 'High School', hs)
year = harvard.pop('year')
harvard.insert(9, 'Year', year)

In [18]:
harvard

,Name,Sport,College,Position,Height,Weight,Academic Year,Hometown,High School,Year
0,Kennedy Heath,womens-basketball,Harvard,Guard,5-9,NaN,Sr.,"Cary, N.C.",Panther Creek,2023
1,Mona Zarić,womens-basketball,Harvard,Forward,6-2,NaN,Jr.,"Novi Sad, Serbia",Kykkos B'Lyceum,2023
2,Gabby Anderson,womens-basketball,Harvard,Guard,5-11,NaN,So.,"Columbus, Ohio",IMG Academy,2023
3,Elena Rodriguez,womens-basketball,Harvard,Guard,6-2,NaN,Jr.,"Aguimes, Spain",IES Joaquin Artiles,2023
4,Karlee White,womens-basketball,Harvard,Guard,5-9,NaN,Fy,"Burbank, Calif.",Oak Park High School,2023
...,...,...,...,...,...,...,...,...,...,...
4119,Cara Salsberry,track-and-field,Harvard,Throws,NaN,NaN,Jr.,"Boynton Beach, Fla.",Somerset Academy Canyons,2023
4120,Meaghan Toscano,track-and-field,Harvard,Throws,NaN,NaN,Sr.,"Lower Gwynedd, Pa.",Germantown Academy,2023
4121,Fieke Van der Kamp,track-and-field,Harvard,Distance,NaN,NaN,Fy,"Victoria, Australia",Nillumbuk High School,2023
4122,Abby Weber,track-and-field,Harvard,Distance,NaN,NaN,Fy,"Chapel Hill, N.C.",Chapel Hill High School,2023
4123,Milina Wepiwé,track-and-field,Harvard,Throws,NaN,NaN,Fy,"Friedrichsdorf, Germany",Kaiserin-Friedrich Gymnasium,2023

In [19]:
penn.columns

Index(['Unnamed: 0', 'Name', 'Pos.', 'Year', 'Hometown / High School', 'year',
       'sport', '#', 'Full Name', 'Pos', 'Ht.', 'Academic Year', 'Wt.', 'C',
       'Hometown/High School', 'Pronouns'],
      dtype='object')

In [20]:
penn = penn.drop(['#', 'C', 'Pronouns'], axis = 1)

In [21]:
penn = penn.drop("Unnamed: 0", axis = 1)

In [22]:
penn.columns

Index(['Name', 'Pos.', 'Year', 'Hometown / High School', 'year', 'sport',
       'Full Name', 'Pos', 'Ht.', 'Academic Year', 'Wt.',
       'Hometown/High School'],
      dtype='object')

In [23]:
penn["Name"] = penn["Name"].fillna(" ") + penn["Full Name"].fillna(" ")
penn

,Name,Pos.,Year,Hometown / High School,year,sport,Full Name,Pos,Ht.,Academic Year,Wt.,Hometown/High School
0,Zezo Beshir,Throws,Fr.,"Newton, Mass. / Newton South",2023,mens-track-and-field,NaN,NaN,NaN,NaN,NaN,NaN
1,Alex Boyko,Distance,Fr.,"Cinnaminson, N.J. / Cinnaminson",2023,mens-track-and-field,NaN,NaN,NaN,NaN,NaN,NaN
2,Titus Bretzke,Mid-Distance,Jr.,"Greenville, Mich. / Greenville",2023,mens-track-and-field,NaN,NaN,NaN,NaN,NaN,NaN
3,Nick Carpenter,Distance,So.,"Winter Park, Fla. / Trinity Prep",2023,mens-track-and-field,NaN,NaN,NaN,NaN,NaN,NaN
4,Elijah Cook,Throws,Jr.,"Bedford, Pa. / Bedford",2023,mens-track-and-field,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4722,Patrick Cayelli,M,So.,"Anderson, S.C. / T.L. Hanna (Carolina Elite Ac...",2022,mens-soccer,NaN,NaN,5-10,NaN,NaN,NaN
4723,Jacob Muchnick,M,Sr.,"Menlo Park, Calif. / Menlo Park (De Anza Force...",2022,mens-soccer,NaN,NaN,5-8,NaN,NaN,NaN
4724,Adam Kuechler,F,Fr.,"Needham, Mass. / Roxbury Latin School (New Eng...",2022,mens-soccer,NaN,NaN,6-2,NaN,NaN,NaN
4725,Owen Sullivan,D,Fr.,"Bay Village, Ohio / Saint Ignatius (Spire FC)",2022,mens-soccer,NaN,NaN,5-11,NaN,NaN,NaN
4726,Will Kelly,M,So.,"Rochester, N.Y. / Brighton (Empire United)",2022,mens-soccer,NaN,NaN,5-8,NaN,NaN,NaN

In [24]:
penn = penn.drop("Full Name", axis = 1)

In [25]:
penn.columns

Index(['Name', 'Pos.', 'Year', 'Hometown / High School', 'year', 'sport',
       'Pos', 'Ht.', 'Academic Year', 'Wt.', 'Hometown/High School'],
      dtype='object')

In [26]:
penn['Position'] = penn['Pos.'].fillna(" ") + penn['Pos'].fillna(" ")
penn = penn.drop(['Pos.', 'Pos'], axis = 1)
penn

,Name,Year,Hometown / High School,year,sport,Ht.,Academic Year,Wt.,Hometown/High School,Position
0,Zezo Beshir,Fr.,"Newton, Mass. / Newton South",2023,mens-track-and-field,NaN,NaN,NaN,NaN,Throws
1,Alex Boyko,Fr.,"Cinnaminson, N.J. / Cinnaminson",2023,mens-track-and-field,NaN,NaN,NaN,NaN,Distance
2,Titus Bretzke,Jr.,"Greenville, Mich. / Greenville",2023,mens-track-and-field,NaN,NaN,NaN,NaN,Mid-Distance
3,Nick Carpenter,So.,"Winter Park, Fla. / Trinity Prep",2023,mens-track-and-field,NaN,NaN,NaN,NaN,Distance
4,Elijah Cook,Jr.,"Bedford, Pa. / Bedford",2023,mens-track-and-field,NaN,NaN,NaN,NaN,Throws
...,...,...,...,...,...,...,...,...,...,...
4722,Patrick Cayelli,So.,"Anderson, S.C. / T.L. Hanna (Carolina Elite Ac...",2022,mens-soccer,5-10,NaN,NaN,NaN,M
4723,Jacob Muchnick,Sr.,"Menlo Park, Calif. / Menlo Park (De Anza Force...",2022,mens-soccer,5-8,NaN,NaN,NaN,M
4724,Adam Kuechler,Fr.,"Needham, Mass. / Roxbury Latin School (New Eng...",2022,mens-soccer,6-2,NaN,NaN,NaN,F
4725,Owen Sullivan,Fr.,"Bay Village, Ohio / Saint Ignatius (Spire FC)",2022,mens-soccer,5-11,NaN,NaN,NaN,D
4726,Will Kelly,So.,"Rochester, N.Y. / Brighton (Empire United)",2022,mens-soccer,5-8,NaN,NaN,NaN,M

In [27]:
penn['Academic Year'] = penn['Academic Year'].fillna(" ") + penn['Year'].fillna(" ")
penn = penn.drop("Year", axis = 1)
penn

,Name,Hometown / High School,year,sport,Ht.,Academic Year,Wt.,Hometown/High School,Position
0,Zezo Beshir,"Newton, Mass. / Newton South",2023,mens-track-and-field,NaN,Fr.,NaN,NaN,Throws
1,Alex Boyko,"Cinnaminson, N.J. / Cinnaminson",2023,mens-track-and-field,NaN,Fr.,NaN,NaN,Distance
2,Titus Bretzke,"Greenville, Mich. / Greenville",2023,mens-track-and-field,NaN,Jr.,NaN,NaN,Mid-Distance
3,Nick Carpenter,"Winter Park, Fla. / Trinity Prep",2023,mens-track-and-field,NaN,So.,NaN,NaN,Distance
4,Elijah Cook,"Bedford, Pa. / Bedford",2023,mens-track-and-field,NaN,Jr.,NaN,NaN,Throws
...,...,...,...,...,...,...,...,...,...
4722,Patrick Cayelli,"Anderson, S.C. / T.L. Hanna (Carolina Elite Ac...",2022,mens-soccer,5-10,So.,NaN,NaN,M
4723,Jacob Muchnick,"Menlo Park, Calif. / Menlo Park (De Anza Force...",2022,mens-soccer,5-8,Sr.,NaN,NaN,M
4724,Adam Kuechler,"Needham, Mass. / Roxbury Latin School (New Eng...",2022,mens-soccer,6-2,Fr.,NaN,NaN,F
4725,Owen Sullivan,"Bay Village, Ohio / Saint Ignatius (Spire FC)",2022,mens-soccer,5-11,Fr.,NaN,NaN,D
4726,Will Kelly,"Rochester, N.Y. / Brighton (Empire United)",2022,mens-soccer,5-8,So.,NaN,NaN,M

In [28]:
penn['Hometown/High School'] = penn['Hometown/High School'].fillna(" ") + penn['Hometown / High School'].fillna(" ")
penn = penn.drop("Hometown / High School", axis = 1)
penn

,Name,year,sport,Ht.,Academic Year,Wt.,Hometown/High School,Position
0,Zezo Beshir,2023,mens-track-and-field,NaN,Fr.,NaN,"Newton, Mass. / Newton South",Throws
1,Alex Boyko,2023,mens-track-and-field,NaN,Fr.,NaN,"Cinnaminson, N.J. / Cinnaminson",Distance
2,Titus Bretzke,2023,mens-track-and-field,NaN,Jr.,NaN,"Greenville, Mich. / Greenville",Mid-Distance
3,Nick Carpenter,2023,mens-track-and-field,NaN,So.,NaN,"Winter Park, Fla. / Trinity Prep",Distance
4,Elijah Cook,2023,mens-track-and-field,NaN,Jr.,NaN,"Bedford, Pa. / Bedford",Throws
...,...,...,...,...,...,...,...,...
4722,Patrick Cayelli,2022,mens-soccer,5-10,So.,NaN,"Anderson, S.C. / T.L. Hanna (Carolina Elite A...",M
4723,Jacob Muchnick,2022,mens-soccer,5-8,Sr.,NaN,"Menlo Park, Calif. / Menlo Park (De Anza Forc...",M
4724,Adam Kuechler,2022,mens-soccer,6-2,Fr.,NaN,"Needham, Mass. / Roxbury Latin School (New En...",F
4725,Owen Sullivan,2022,mens-soccer,5-11,Fr.,NaN,"Bay Village, Ohio / Saint Ignatius (Spire FC)",D
4726,Will Kelly,2022,mens-soccer,5-8,So.,NaN,"Rochester, N.Y. / Brighton (Empire United)",M

In [29]:
penn[['Hometown', 'High School', 'bs']] = penn['Hometown/High School'].str.split('/', expand = True)
penn

,Name,year,sport,Ht.,Academic Year,Wt.,Hometown/High School,Position,Hometown,High School,bs
0,Zezo Beshir,2023,mens-track-and-field,NaN,Fr.,NaN,"Newton, Mass. / Newton South",Throws,"Newton, Mass.",Newton South,None
1,Alex Boyko,2023,mens-track-and-field,NaN,Fr.,NaN,"Cinnaminson, N.J. / Cinnaminson",Distance,"Cinnaminson, N.J.",Cinnaminson,None
2,Titus Bretzke,2023,mens-track-and-field,NaN,Jr.,NaN,"Greenville, Mich. / Greenville",Mid-Distance,"Greenville, Mich.",Greenville,None
3,Nick Carpenter,2023,mens-track-and-field,NaN,So.,NaN,"Winter Park, Fla. / Trinity Prep",Distance,"Winter Park, Fla.",Trinity Prep,None
4,Elijah Cook,2023,mens-track-and-field,NaN,Jr.,NaN,"Bedford, Pa. / Bedford",Throws,"Bedford, Pa.",Bedford,None
...,...,...,...,...,...,...,...,...,...,...,...
4722,Patrick Cayelli,2022,mens-soccer,5-10,So.,NaN,"Anderson, S.C. / T.L. Hanna (Carolina Elite A...",M,"Anderson, S.C.","T.L. Hanna (Carolina Elite Acad,)",None
4723,Jacob Muchnick,2022,mens-soccer,5-8,Sr.,NaN,"Menlo Park, Calif. / Menlo Park (De Anza Forc...",M,"Menlo Park, Calif.",Menlo Park (De Anza Force Academy),None
4724,Adam Kuechler,2022,mens-soccer,6-2,Fr.,NaN,"Needham, Mass. / Roxbury Latin School (New En...",F,"Needham, Mass.",Roxbury Latin School (New England Surf),None
4725,Owen Sullivan,2022,mens-soccer,5-11,Fr.,NaN,"Bay Village, Ohio / Saint Ignatius (Spire FC)",D,"Bay Village, Ohio",Saint Ignatius (Spire FC),None
4726,Will Kelly,2022,mens-soccer,5-8,So.,NaN,"Rochester, N.Y. / Brighton (Empire United)",M,"Rochester, N.Y.",Brighton (Empire United),None

In [30]:
penn = penn.drop(["Hometown/High School", "bs"], axis =1)
penn

,Name,year,sport,Ht.,Academic Year,Wt.,Position,Hometown,High School
0,Zezo Beshir,2023,mens-track-and-field,NaN,Fr.,NaN,Throws,"Newton, Mass.",Newton South
1,Alex Boyko,2023,mens-track-and-field,NaN,Fr.,NaN,Distance,"Cinnaminson, N.J.",Cinnaminson
2,Titus Bretzke,2023,mens-track-and-field,NaN,Jr.,NaN,Mid-Distance,"Greenville, Mich.",Greenville
3,Nick Carpenter,2023,mens-track-and-field,NaN,So.,NaN,Distance,"Winter Park, Fla.",Trinity Prep
4,Elijah Cook,2023,mens-track-and-field,NaN,Jr.,NaN,Throws,"Bedford, Pa.",Bedford
...,...,...,...,...,...,...,...,...,...
4722,Patrick Cayelli,2022,mens-soccer,5-10,So.,NaN,M,"Anderson, S.C.","T.L. Hanna (Carolina Elite Acad,)"
4723,Jacob Muchnick,2022,mens-soccer,5-8,Sr.,NaN,M,"Menlo Park, Calif.",Menlo Park (De Anza Force Academy)
4724,Adam Kuechler,2022,mens-soccer,6-2,Fr.,NaN,F,"Needham, Mass.",Roxbury Latin School (New England Surf)
4725,Owen Sullivan,2022,mens-soccer,5-11,Fr.,NaN,D,"Bay Village, Ohio",Saint Ignatius (Spire FC)
4726,Will Kelly,2022,mens-soccer,5-8,So.,NaN,M,"Rochester, N.Y.",Brighton (Empire United)

In [31]:
penn["college"] = "University of Pennsylvania"

In [32]:
sport = penn.pop('sport')
penn.insert(1, 'Sport', sport)
college = penn.pop('college')
penn.insert(2, 'College', college)
position = penn.pop('Position')
penn.insert(3, 'Position', position)
height = penn.pop('Ht.')
penn.insert(4, 'Height', height)
weight = penn.pop('Wt.')
penn.insert(5, 'Weight', weight)
acayear = penn.pop('Academic Year')
penn.insert(6, 'Academic Year', acayear)
ht = penn.pop('Hometown')
penn.insert(7, 'Hometown', ht)
hs = penn.pop('High School')
penn.insert(8, 'High School', hs)
year = penn.pop('year')
penn.insert(9, 'Year', year)

In [33]:
penn.head(5)

,Name,Sport,College,Position,Height,Weight,Academic Year,Hometown,High School,Year
0,Zezo Beshir,mens-track-and-field,University of Pennsylvania,Throws,NaN,NaN,Fr.,"Newton, Mass.",Newton South,2023
1,Alex Boyko,mens-track-and-field,University of Pennsylvania,Distance,NaN,NaN,Fr.,"Cinnaminson, N.J.",Cinnaminson,2023
2,Titus Bretzke,mens-track-and-field,University of Pennsylvania,Mid-Distance,NaN,NaN,Jr.,"Greenville, Mich.",Greenville,2023
3,Nick Carpenter,mens-track-and-field,University of Pennsylvania,Distance,NaN,NaN,So.,"Winter Park, Fla.",Trinity Prep,2023
4,Elijah Cook,mens-track-and-field,University of Pennsylvania,Throws,NaN,NaN,Jr.,"Bedford, Pa.",Bedford,2023

In [37]:
harvard.head(5)

,Name,Sport,College,Position,Height,Weight,Academic Year,Hometown,High School,Year
0,Kennedy Heath,womens-basketball,Harvard,Guard,5-9,<NA>,Sr.,"Cary, N.C.",Panther Creek,2023
1,Mona Zarić,womens-basketball,Harvard,Forward,6-2,<NA>,Jr.,"Novi Sad, Serbia",Kykkos B'Lyceum,2023
2,Gabby Anderson,womens-basketball,Harvard,Guard,5-11,<NA>,So.,"Columbus, Ohio",IMG Academy,2023
3,Elena Rodriguez,womens-basketball,Harvard,Guard,6-2,<NA>,Jr.,"Aguimes, Spain",IES Joaquin Artiles,2023
4,Karlee White,womens-basketball,Harvard,Guard,5-9,<NA>,Fy,"Burbank, Calif.",Oak Park High School,2023

In [41]:
full_df = pd.concat([penn, harvard])

In [42]:
full_df

,Name,Sport,College,Position,Height,Weight,Academic Year,Hometown,High School,Year
0,Zezo Beshir,mens-track-and-field,University of Pennsylvania,Throws,NaN,NaN,Fr.,"Newton, Mass.",Newton South,2023
1,Alex Boyko,mens-track-and-field,University of Pennsylvania,Distance,NaN,NaN,Fr.,"Cinnaminson, N.J.",Cinnaminson,2023
2,Titus Bretzke,mens-track-and-field,University of Pennsylvania,Mid-Distance,NaN,NaN,Jr.,"Greenville, Mich.",Greenville,2023
3,Nick Carpenter,mens-track-and-field,University of Pennsylvania,Distance,NaN,NaN,So.,"Winter Park, Fla.",Trinity Prep,2023
4,Elijah Cook,mens-track-and-field,University of Pennsylvania,Throws,NaN,NaN,Jr.,"Bedford, Pa.",Bedford,2023
...,...,...,...,...,...,...,...,...,...,...
4119,Cara Salsberry,track-and-field,Harvard,Throws,NaN,NaN,Jr.,"Boynton Beach, Fla.",Somerset Academy Canyons,2023
4120,Meaghan Toscano,track-and-field,Harvard,Throws,NaN,NaN,Sr.,"Lower Gwynedd, Pa.",Germantown Academy,2023
4121,Fieke Van der Kamp,track-and-field,Harvard,Distance,NaN,NaN,Fy,"Victoria, Australia",Nillumbuk High School,2023
4122,Abby Weber,track-and-field,Harvard,Distance,NaN,NaN,Fy,"Chapel Hill, N.C.",Chapel Hill High School,2023
4123,Milina Wepiwé,track-and-field,Harvard,Throws,NaN,NaN,Fy,"Friedrichsdorf, Germany",Kaiserin-Friedrich Gymnasium,2023

In [43]:
full_df.to_csv("harvard_penn_complete.csv")